*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
}


body{
    background-image: url(img/final.gif);
    width: 100%;
    height: 100vh;
    background-position: center ;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: left;
    padding: 10px;

    button{
        color: white;
        padding: 10px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        font-weight: bold;
        background: rgba(0, 0, 0, 0.203);
        backdrop-filter: blur(5px) saturate(120%);
        -webkit-backdrop-filter: blur(10px) saturate(120%);
    }
    button:hover{
        transition: .5s;
        color: black;
        background-color: white;
    }

    nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: white;
        gap: 5px;
        text-align: end;

        button{
            color: white;
            padding: 10px;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            font-weight: bold;
            background: rgba(0, 0, 0, 0.203);
            backdrop-filter: blur(5px) saturate(120%);
            -webkit-backdrop-filter: blur(10px) saturate(120%);
        }

        button:hover{
            transition: .5s;
            color: black;
            background-color: white;
        }

        p{
            text-align: center;
            font-size: 12px;
        }
    }
}

.Boas_vindas {
    width: 80%;
    /* height: 50vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.Boas_vindas{
    width: 100%;
    text-align: center;
    h1{
        color: white;
        font-size: 3rem;
    }

}

.JogoCompleto{
    width: 60%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.203);
    backdrop-filter: blur(5px) saturate(120%);
    -webkit-backdrop-filter: blur(10px) saturate(120%);
    border-radius: 15px;
    flex-direction: column;
}

@media (max-width:800px){
    .JogoCompleto{
        width: 98%;
        height: 60vh;
    }
}

.cadastro{
    width: 100%;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    text-align: center;

    label{
        color: white;
        font-size: 20px;
    }

    input{
        padding: 12px;
        border-radius: 10px;
        border: none;
    }
    
    button{
        padding: 7px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        transition: .5s;
    }
    button:hover{
        color: white;
        background-color: rgba(0, 0, 0, 0.297);
        font-weight: bolder;
    }
}

.JogoQuiz{
    width: 100%;
    /* height: 20vh; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 0px 40px;
    text-align: center;
}


.opcoes{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

    button{
        padding:10px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        transition: .5s;
    }

    button:not(:disabled):hover{
        filter: brightness(0.5);
    }
    .opcao:disabled {
        cursor: not-allowed;
    }
}

.btn_seguir{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0px 40px;
    margin-top: 20px;

    button{
        padding:12px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        transition: .6s;
        width: 100%;
    }
    
    button:hover{
        background-image: url(img/bola.gif);
        background-image: center center;
        background-repeat: no-repeat;
        background-size: cover;
        font-weight: bolder;
        font-size: 16px;
        color: white;
    }
} 

.certo {
  background-color: #4caf50;
  color: #fff;
}
.errado {
  background-color: #f44336;
  color: #fff;
}

.esconder{
    display: none;
}

.mensagem_final{
    font-size: 20px;
    font-weight: bolder;
}

.btnRecomecar{
    padding:12px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: .6s;
    width: 100%;
}

.btnRecomecar:hover{
    background-image: url(img/bola.gif);
    background-image: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bolder;
    font-size: 16px;
    color: white;
}